<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor patch:instead="*[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Analytics']" type="TheReference.DotNet.Sitecore.UntrackedPages.Pipelines.CheckPreconditions, TheReference.DotNet.Sitecore.UntrackedPages"/>
      </startAnalytics>
    </pipelines>

    <tracking>
      <untrackedPages>
        <add path="/sitecore/default.aspx" />
        <add path="/sitecore/service/error.aspx" />
        <add path="/sitecore/service/Heartbeat.aspx" />
        <add path="/sitecore/service/keepalive.aspx" />
        <add path="/sitecore/service/nolicense.aspx" />
        <add path="/api/*" />
      </untrackedPages>
    </tracking>
  </sitecore>
</configuration>